<p id="notice"><%= notice %></p>

<h1>Consciousmesses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consciousmesses.each do |consciousmess| %>
      <tr>
        <td><%= link_to 'Show', consciousmess %></td>
        <td><%= link_to 'Edit', edit_consciousmess_path(consciousmess) %></td>
        <td><%= link_to 'Destroy', consciousmess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consciousmess', new_consciousmess_path %>
