<p id="notice"><%= notice %></p>

<p class="speaker">
  <strong><%= @ripple.name %></strong>,
    on <strong><%= @ripple.posted %></strong>, had this to say:
</p>

<p class="message">
  <%= @ripple.message %>
</p>

<%= link_to 'Back', ripples_path %>
